.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding: 2%;

}
.home_left{
    width: 50%;
    /* background-color: #5cc5dc; */
    height: 80vh;
    display: flex;
    justify-content: center;
}
.home_right{
    width: 50%;
    /* background-color: #5cc5dc; */
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../assets/gif/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.home_image{
    width:100%;
    height: 80vh;
}
.tag{
    background-color: #5cc5d5;
width: fit-content;
padding: 2%;
border-radius: 1%;
font-size:medium;
color: white;
animation-duration: 1.5s; }
.tagline{
    font-weight: bolder;
    width: fit-content;
    font-size:xx-large;
}
.description{
    font-size: large;
}
@media screen and (max-width:786px){

    .home{
        display: flex;
        flex-direction:column-reverse;
        height: fit-content;
        /* padding: 2%; */
       
    }
    .home_left{
        width: 100%;
        
        height: 50vh;
    }
    .home_image{
        width:100%;
        height: 50vh;
        padding: 4%;
    }
    .home_right{
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        
    }
    .tag{
        background-color: #5cc5d5;
        width: fit-content;
      
        border-radius: 1%;
        font-size: small;
    }

    .tagline{
        font-weight: bolder;
        width: fit-content;
        font-size: larger;
    }
    .description{
        font-size: medium;
    }
}
@keyframes tag{
    0% {
        background-color: white;
      }
      100% {
        background-color: #5cc5d5;
      }
}