.navbar{
 height: 3rem;
 background-color: white;
 display: flex;
 justify-content: flex-start;
 padding: 10px;
 border-bottom: 2px solid #ebebec;
 width: 100%;
 
}
.title{
    font-weight: bold;
    font-size: x-large;
    color: #0d3253;
    font-family: Poppins;
    width: 92%;
}
.menuIcon{
    align-self: flex-end;
    width: 8%;
}
.menulist{
    display: none;
}
@media screen and (min-width:786px){
    .menuIcon{
        display: none;
    }
    .menulist{
        width:50%;
        display: inline;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    

    }
    .menuItem{
        color: #0d3253;
        text-decoration: none;
        cursor: pointer; 
    }
    .menuItem:hover{
       color: #5cc5d5;
       border-bottom: 2px solid #5cc5d5;
       cursor: pointer;
    }
    .title{
        width: 50%;
    }

}
